@import "bootstrap";
@import "redactor-rails.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext);
@import "font-awesome";

body {
	font-family: 'Open Sans', sans-serif;

}
a:hover {
	text-decoration: none;
}