@import "bootstrap";
@import "redactor-rails.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext);
@import "font-awesome";

body {
	font-size: 16px;
}

a:hover {
	text-decoration: none;
}
.navbar-default {
	background-color: #384452;
	border-color: #384452;
}
.navbar-default .navbar-brand {
	color: #FFFFFF;
}
.navbar-default .navbar-brand:hover {
	color: #777;
}

.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #00b3fe;
}

h1, .h1 {
	font-size: 3.5em;
}



.article_pub-date {
	color: #949494;
}

a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}